<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>
                        <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>My Account</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex mt-4 mt-md-0">
                    <div class="card flex-grow-1 mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Register</h3>
                            <form [formGroup]="userForm" (submit)="register()">
                                <div class="form-group">
                                    <label>Email address *</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" formControlName="email">
                                </div>
                                <control-messages [control]="$any(userForm).get('email')"></control-messages>
                                <div class="form-group">
                                    <label>Name *</label>
                                    <input type="name" name="name" id="name" class="form-control" placeholder="Enter your name" formControlName="name">
                                </div>
                                <control-messages [control]="$any(userForm).get('name')"></control-messages>
                                <div class="form-group">
                                    <label>Lastname</label>
                                    <input type="lastname" name="lastname" id="lastname" class="form-control" placeholder="Enter your lastname" formControlName="lastname">
                                </div>
                                <control-messages [control]="$any(userForm).get('lastname')"></control-messages>
                                <div class="form-group">
                                    <label>Password *</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                                    <control-messages [control]="$any(userForm).get('password')"></control-messages>
                                </div>
                                <div class="form-group">
                                    <label>Repeat Password *</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password2">
                                    <control-messages [control]="$any(userForm).get('password2')"></control-messages>
                                </div>
                                <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary mt-4">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>