.products-list[data-layout^=grid-] .product-card .product-card__availability,
.products-list[data-layout^=grid-] .product-card .product-card__description,
.products-list[data-layout^=grid-] .product-card .product-card__features-list {
    display: block !important;
}

.product-card__prices {
    margin-top: 5px !important;
}