<div class="container">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>
                        <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>General Store</h1>
            </div>
        </div>
    </div>
    <div class="shop-layout shop-layout--sidebar--start">
        <div class="shop-layout__sidebar">
            <div class="block block-sidebar block-sidebar--offcanvas--mobile">
                <div class="block-sidebar__backdrop"></div>
                <div class="block-sidebar__body">
                    <div class="block-sidebar__header">
                        <div class="block-sidebar__title">Filters</div><button class="block-sidebar__close" type="button"><svg width="20px" height="20px">
                                <use xlink:href="assets/images/sprite.svg#cross-20"></use>
                            </svg></button>
                    </div>
                    <div class="block-sidebar__item">
                        <div class="widget-filters widget widget-filters--offcanvas--mobile" data-collapse data-collapse-opened-class="filter--opened">
                            <h4 class="widget-filters__title widget__title">Filters</h4>
                            <div class="widget-filters__list">
                                <div class="widget-filters__item">
                                    <div class="filter filter--opened" data-collapse-item><button type="button" class="filter__title" data-collapse-trigger>Categories <svg class="filter__arrow"
                                                width="12px" height="7px">
                                                <use xlink:href="images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg></button>
                                        <div class="filter__body" data-collapse-content>
                                            <div class="filter__container">
                                                <div class="filter-categories">
                                                    <ul class="filter-categories__list">
                                                        <li *ngFor="let cat of catNames" class="filter-categories__item filter-categories__item--child">
                                                            <a (click)="selectCategory(cat.id, cat.name)">{{ cat.name | titlecase}}</a>
                                                            <!-- <div class="filter-categories__counter">0</div> -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-sidebar__item d-none d-lg-block">
                        <div class="widget-products widget">
                            <h4 class="widget__title">Latest Products</h4>
                            <div class="widget-products__list">
                                <div class="widget-products__item" *ngFor="let p of latestProds">
                                    <div class="widget-products__image">
                                        <a (click)="selectItem(p.id)">
                                            <img [src]=" staticDomain + p.image_url " alt="{{ p.unit_price }} ">
                                        </a>
                                    </div>
                                    <div class="widget-products__info ">
                                        <div class="widget-products__name ">
                                            <a (click)="selectItem(p.id) ">{{ p.name | titlecase }}</a>
                                        </div>
                                        <div class="widget-products__prices ">
                                            <div class="product-card__prices " *ngIf="p.discount_price !=null ">
                                                <span class="product-card__new-price ">
                                                    {{ p.discount_price | currency: 'USD' }}
                                                </span>
                                                <span class="product-card__old-price "> 
                                                    {{ p.unit_price | currency: 'USD' }}
                                                </span>
                                            </div>
                                            <div class="product-card__prices " *ngIf="p.discount_price==null ">
                                                {{ p.unit_price | currency: 'USD' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-layout__content ">
            <div class="block ">
                <div class="products-view ">
                    <div class="products-view__options ">
                        <div class="view-options view-options--offcanvas--mobile ">
                            <div class="view-options__legend ">Showing {{pageSize >= count ? count : pageSize}} of {{count}} products</div>
                            <div class="view-options__divider "></div>
                            <div class="view-options__control "><label for=" ">Sort By</label>
                                <div>
                                    <select class="form-control form-control-sm " (change)="handleSortByChange($event) ">
                                        <option value=" ">---</option>
                                        <option [ngValue]="sort " *ngFor="let sort of sortBy ">{{ sort }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="view-options__control "><label for=" ">Show</label>
                                <div>
                                    <select class="form-control form-control-sm " (change)="handlePageSizeChange($event) " name=" " id=" ">
                                        <option [ngValue]="size " *ngFor="let size of pageSizes ">{{ size }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-view__list products-list " data-layout="grid-3-sidebar " data-with-features="false ">
                        <div class="products-list__body ">
                            <div class="products-list__item " *ngFor="let p of prodList | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; ">
                                <div class="product-card ">
                                    <button class="product-card__quickview " type="button ">
                                        <svg width="16px " height="16px ">
                                            <use xlink:href="assets/images/sprite.svg#quickview-16 "></use>
                                        </svg>
                                        <span class="fake-svg-icon "></span>
                                    </button>
                                    <div class="product-card__image">
                                        <a (click)="selectItem(p.id)">
                                            <img [src]="staticDomain + p.image_url " alt="{{ p.name }} ">
                                        </a>
                                    </div>
                                    <div class="product-card__info ">
                                        <div class="product-card__name ">
                                            <a (click)="selectItem(p.id)">
                                                {{ p.name | titlecase }}
                                            </a>
                                        </div>
                                        <div class="product-card__rating ">
                                            <div class="rating ">
                                                <div class="rating__body ">
                                                    <svg class="rating__star rating__star--active " width="13px " height="12px ">
                                                        <g class="rating__fill ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal ">
                                                            </use>
                                                        </g>
                                                        <g class="rating__stroke ">
                                                            <use
                                                                xlink:href="assets/images/sprite.svg#star-normal-stroke ">
                                                            </use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active ">
                                                        <div class="rating__fill ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                        <div class="rating__stroke ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active " width="13px " height="12px ">
                                                        <g class="rating__fill ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal ">
                                                            </use>
                                                        </g>
                                                        <g class="rating__stroke ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke ">
                                                            </use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active ">
                                                        <div class="rating__fill ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                        <div class="rating__stroke ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active " width="13px " height="12px ">
                                                        <g class="rating__fill ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal ">
                                                            </use>
                                                        </g>
                                                        <g class="rating__stroke ">
                                                            <use
                                                                xlink:href="assets/images/sprite.svg#star-normal-stroke ">
                                                            </use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active ">
                                                        <div class="rating__fill ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                        <div class="rating__stroke ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active " width="13px " height="12px ">
                                                        <g class="rating__fill ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal ">
                                                            </use>
                                                        </g>
                                                        <g class="rating__stroke ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke ">
                                                            </use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active ">
                                                        <div class="rating__fill ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                        <div class="rating__stroke ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                    </div><svg class="rating__star " width="13px " height="12px ">
                                                        <g class="rating__fill ">
                                                            <use xlink:href="assets/images/sprite.svg#star-normal ">
                                                            </use>
                                                        </g>
                                                        <g class="rating__stroke ">
                                                            <use
                                                                xlink:href="assets/images/sprite.svg#star-normal-stroke ">
                                                            </use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge ">
                                                        <div class="rating__fill ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                        <div class="rating__stroke ">
                                                            <div class="fake-svg-icon "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__rating-legend ">9 Reviews</div>
                                        </div>
                                    </div>
                                    <div class="product-card__actions ">
                                        <div class="product-card__availability ">
                                            Availability:
                                            <span class="text-danger " *ngIf="p.stock < 1 ">
                                                out of stock
                                            </span>
                                            <span class="text-success " *ngIf="p.stock> 1"> in stock
                                        </span>
                                        </div>
                                        <div class="product-card__prices" *ngIf="p.discount_price != null">
                                            <span class="product-card__new-price">
                                                {{ p.discount_price | currency: 'USD' }}
                                            </span>
                                            <span class="product-card__old-price"> 
                                                {{ p.unit_price | currency: 'USD' }}
                                            </span>
                                        </div>
                                        <div class="product-card__prices" *ngIf="p.discount_price == null">
                                            {{ p.unit_price | currency: 'USD' }}
                                        </div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" (click)="addToCart(p.id)" [class.disabled]="p.stock < 1" type="button">
                                                Add To Cart
                                            </button>
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">
                                            Add To Cart
                                        </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                            </svg> 
                                            <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                        </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                                </svg> 
                                                <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-view__pagination">
                        <div class="pagination justify-content-center">
                            <pagination-controls previoussLabel="Prev" nextLabel="Nex" (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>