<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>My Account</h1>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex">
                <div class="account-nav flex-grow-1">
                    <h4 class="account-nav__title">Navigation</h4>
                    <ul>
                        <li class="account-nav__item account-nav__item--active"><a routerLink="/account/dashboard">Dashboard</a></li>
                        <li class="account-nav__item"><a routerLink="/account/orders">Order History</a></li>
                        <li class="account-nav__item"><a routerLink="/account/addresses">Addresses</a></li>
                        <li class="account-nav__item"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="dashboard">
                    <div class="dashboard__profile card profile-card">
                        <div class="card-body profile-card__body">
                            <div class="profile-card__avatar"><img src="assets/images/avatars/avatar-3.jpg" alt="">
                            </div>
                            <div class="profile-card__name">{{ selfUser.name + ' ' + selfUser.lastname | titlecase }}</div>
                            <div class="profile-card__email">{{ selfUser.email }}</div>
                            <div class="profile-card__edit"><a href="#" class="btn btn-secondary btn-sm">Edit Profile</a></div>
                        </div>
                    </div>
                    <div class="dashboard__address card address-card address-card--featured" *ngIf="userAddress != undefined">
                        <div class="address-card__badge" *ngIf="selfUser.default_address">Default Address</div>
                        <div class="address-card__badge" *ngIf="!selfUser.default_address">Latest Address Added</div>
                        <div class="address-card__body">
                            <div class="address-card__name">{{ selfUser.name + ' ' + selfUser.lastname | titlecase }}</div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Street Address</div>
                                <div class="address-card__row-content">{{ userAddress.street_address }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Aparment Address</div>
                                <div class="address-card__row-content">{{ userAddress.apartment_address}}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">ZIP</div>
                                <div class="address-card__row-content">{{ userAddress.zip }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email Address</div>
                                <div class="address-card__row-content">{{ selfUser.email }}</div>
                            </div>
                            <div class="address-card__footer">
                                <a href="#" class="btn btn-primary btn-sm">Edit Address</a>
                            </div>
                            <div class="address-card__footer" *ngIf="!selfUser.default_address">
                                <a href="#" class="btn btn-primary btn-sm">Edit Address</a>
                                <a href="#" class="btn btn-primary btn-sm ml-3">Use As Default</a>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard__profile card profile-card" *ngIf="userAddress == undefined">
                        <div class="card-body profile-card__body">
                            <div class="profile-card__name">
                                <h5>There is no address added yet</h5>
                            </div>
                            <div class="profile-card__edit mt-2">
                                <a href="#" class="btn btn-primary btn-sm">Add Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard__orders card">
                        <div class="card-header">
                            <h5>Recent Orders</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-table">
                            <div class="table-responsive-sm">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of latestOrders">
                                            <td><a href="#">#{{ order.id }}</a></td>
                                            <td>{{ order.created_at | date }}</td>
                                            <td>Pending</td>
                                            <td>{{ order.subtotal | currency: 'USD'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>