<div class="site__body">
    <!-- .block-slideshow -->
    <div class="block-slideshow block-slideshow--layout--with-departments block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block"></div>
                <div class="col-12 col-lg-9">
                    <div class="block-slideshow__body">
                        <div class="owl-carousel">
                            <a class="block-slideshow__slide" href="#">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('assets/images/slides/slide-1.jpg')"></div>
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('assets/images/slides/slide-1-mobile.jpg')"></div>
                                <div class="block-slideshow__slide-content">
                                    <div class="block-slideshow__slide-title">Big choice of<br>Plumbing products
                                    </div>
                                    <div class="block-slideshow__slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.
                                    </div>
                                    <div class="block-slideshow__slide-button">
                                        <a routerLink="/shop" class="btn btn-primary btn-lg">Shop Now</a>
                                    </div>
                                </div>
                            </a>
                            <a class="block-slideshow__slide" href="#">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('assets/images/slides/slide-2.jpg')"></div>
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('assets/images/slides/slide-2-mobile.jpg')"></div>
                                <div class="block-slideshow__slide-content">
                                    <div class="block-slideshow__slide-title">Screwdrivers<br>Professional Tools
                                    </div>
                                    <div class="block-slideshow__slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.
                                    </div>
                                    <div class="block-slideshow__slide-button">
                                        <a routerLink="/shop" class="btn btn-primary btn-lg">Shop Now</a>
                                    </div>
                                </div>
                            </a>
                            <a class="block-slideshow__slide" href="#">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('assets/images/slides/slide-3.jpg')"></div>
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('assets/images/slides/slide-3-mobile.jpg')"></div>
                                <div class="block-slideshow__slide-content">
                                    <div class="block-slideshow__slide-title">One more<br>Unique header</div>
                                    <div class="block-slideshow__slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.
                                    </div>
                                    <div class="block-slideshow__slide-button">
                                        <a routerLink="/shop" class="btn btn-primary btn-lg">ShopNow</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-slideshow / end -->
    <!-- .block-features -->
    <div class="block block-features block-features--layout--classic">
        <div class="container">
            <div class="block-features__list">
                <div class="block-features__item">
                    <div class="block-features__icon"><svg width="48px" height="48px">
                            <use xlink:href="assets/images/sprite.svg#fi-free-delivery-48"></use>
                        </svg></div>
                    <div class="block-features__content">
                        <div class="block-features__title">Free Shipping</div>
                        <div class="block-features__subtitle">For orders from $50</div>
                    </div>
                </div>
                <div class="block-features__divider"></div>
                <div class="block-features__item">
                    <div class="block-features__icon"><svg width="48px" height="48px">
                            <use xlink:href="assets/images/sprite.svg#fi-24-hours-48"></use>
                        </svg></div>
                    <div class="block-features__content">
                        <div class="block-features__title">Support 24/7</div>
                        <div class="block-features__subtitle">Call us anytime</div>
                    </div>
                </div>
                <div class="block-features__divider"></div>
                <div class="block-features__item">
                    <div class="block-features__icon"><svg width="48px" height="48px">
                            <use xlink:href="assets/images/sprite.svg#fi-payment-security-48"></use>
                        </svg></div>
                    <div class="block-features__content">
                        <div class="block-features__title">100% Safety</div>
                        <div class="block-features__subtitle">Only secure payments</div>
                    </div>
                </div>
                <div class="block-features__divider"></div>
                <div class="block-features__item">
                    <div class="block-features__icon"><svg width="48px" height="48px">
                            <use xlink:href="assets/images/sprite.svg#fi-tag-48"></use>
                        </svg></div>
                    <div class="block-features__content">
                        <div class="block-features__title">Hot Offers</div>
                        <div class="block-features__subtitle">Discounts up to 90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-features / end -->
    <!-- .block-products-carousel -->

</div>
<div class="block block-products-carousel" data-layout="grid-4">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Featured Products</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-products__list">
            <div class="block-products__list-item" *ngFor="let p of featuredProducts">
                <div class="product-card">
                    <button class="product-card__quickview" type="button">
                        <svg width="16px" height="16px">
                            <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                        </svg>
                        <span class="fake-svg-icon"></span>
                    </button>

                    <div class="product-card__image">
                        <a (click)="selectItem(p.id)" style="cursor: pointer;">
                            <img [src]="staticDomain + p.image_url | safe" alt="{{p.name | titlecase}}">
                        </a>
                    </div>
                    <div class="product-card__info">
                        <div class="product-card__name">
                            <a href="product.html">{{p.name | titlecase}}</a>
                        </div>
                        <div class="product-card__rating">
                            <div class="rating">
                                <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                            </use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                            </use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                            </use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                            </use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                            </use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card__rating-legend">11 Reviews</div>
                        </div>

                    </div>
                    <div class="product-card__actions">
                        <div class="product-card__ my-2">
                            Availability:
                            <span class="text-danger" *ngIf="p.stock < 1; else elseBlock">out of stock</span>
                            <ng-template #elseBlock>
                                <span class="text-success">in stock</span>
                            </ng-template>
                        </div>
                        <div class="product-card__prices">
                            <div *ngIf="p.discount_price != null">
                                <span class="product-card__new-price">{{ p.discount_price |
                                    currency: 'USD' }}</span>
                                <span class="product-card__old-price"> {{ p.unit_price | currency:
                                    'USD' }}</span>
                            </div>
                            <div *ngIf="p.discount_price == null">
                                {{ p.unit_price | currency: 'USD' }}
                            </div>
                        </div>
                        <div class="product-card__buttons">
                            <button class="btn btn-primary product-card__addtocart" (click)="addToCart(p.id)" [class.disabled]="p.stock < 1" type="button">Add To
                                Cart</button>
                            <!-- <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" [class.disabled]="p.stock < 1" type="button">
                                Add To Cart
                            </button> -->
                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button"><svg width="16px" height="16px">
                                    <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button"><svg width="16px" height="16px">
                                    <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-products-carousel / end -->
<!-- .block-banner -->
<div class="block block-banner">
    <div class="container">
        <a href="#" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('assets/assets/images/banners/banner-1.jpg')"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('assets/assets/images/banners/banner-1-mobile.jpg')"></div>
            <div class="block-banner__title">Hundreds<br class="block-banner__mobile-br">Hand Tools</div>
            <div class="block-banner__text">Hammers, Chisels, Universal Pliers, Nippers, Jigsaws, Saws</div>
            <div class="block-banner__button"><a routerLink="/shop" lass="btn btn-sm btn-primary">Shop Now</a></div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
<!-- .block-products -->
<div class="block block-products block-products--layout--large-first">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Bestsellers</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-products__body">
            <div class="block-products__featured">
                <div class="block-products__featured-item">
                    <div class="product-card">
                        <button class="product-card__quickview" type="button">
                            <svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                            </svg>
                            <span class="fake-svg-icon"></span>
                        </button>
                        <div class="product-card__badges-list">
                            <div class="product-card__badge product-card__badge--new">New</div>
                        </div>
                        <div class="product-card__image">
                            <a href="product.html">
                                <img [src]="staticDomain + selectedSoldProduct.image_url" alt="{{ selectedSoldProduct.name }}">
                            </a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a href="product.html">
                                    {{ selectedSoldProduct.name | titlecase }}
                                </a>
                            </div>
                            <div class="product-card__rating">
                                <div class="rating">
                                    <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__rating-legend">9 Reviews</div>
                            </div>
                            <ul class="product-card__features-list" id="show-it">
                                <li>Speed: 750 RPM</li>
                                <li>Power Source: Cordless-Electric</li>
                                <li>Battery Cell Type: Lithium</li>
                                <li>Voltage: 20 Volts</li>
                                <li>Battery Capacity: 2 Ah</li>
                            </ul>
                        </div>
                        <div class="product-card__actions">
                            <div class="product-card__availability">
                                Availability:
                                <span class="text-danger" *ngIf="selectedSoldProduct.stock < 1">
                                    out of stock</span>
                                <span class="text-success" *ngIf="selectedSoldProduct.stock > 1">
                                    in stock
                                </span>
                            </div>
                            <div class="product-card__prices">
                                <div *ngIf="selectedSoldProduct.discount_price != null">
                                    <span class="product-card__new-price">{{ selectedSoldProduct.discount_price |
                                        currency: 'USD' }}</span>
                                    <span class="product-card__old-price"> {{ selectedSoldProduct.unit_price | currency:
                                        'USD' }}</span>
                                </div>
                                <div *ngIf="selectedSoldProduct.discount_price == null">
                                    {{ selectedSoldProduct.unit_price | currency: 'USD' }}
                                </div>
                            </div>
                            <div class="product-card__buttons">
                                <button class="btn btn-primary product-card__addtocart" (click)="addToCart(selectedSoldProduct.id)" [class.disabled]="selectedSoldProduct.stock < 1" type="button">
                                    Add To Cart
                                </button>
                                <!-- <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">
                                    Add To Cart
                                </button> 
                                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                    <svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                        </svg>
                                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                </button> -->
                                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-products__list">
                <div class="block-products__list-item" *ngFor="let p of bestSellerProducts">
                    <div class="product-card">
                        <button class="product-card__quickview" type="button">
                            <svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                            </svg>
                            <span class="fake-svg-icon"></span>
                        </button>
                        <div class="product-card__badges-list">
                            <div class="product-card__badge product-card__badge--hot">Hot</div>
                        </div>
                        <div class="product-card__image">
                            <a (click)="selectItem(p.id)">
                                <img [src]="staticDomain + p.image_url" alt="">
                            </a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a (click)="selectItem(p.id)">
                                    {{ p.name }}
                                </a>
                            </div>
                            <div class="product-card__rating">
                                <div class="rating">
                                    <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                </use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__rating-legend">11 Reviews</div>
                            </div>
                        </div>
                        <div class="product-card__actions">
                            <div class="product-card__availability">
                                Availability:
                                <span class="text-danger" *ngIf="p.stock < 1">out of
                                    stock</span>
                                <span class="text-success" *ngIf="p.stock > 1">
                                    in stock
                                </span>
                            </div>
                            <div class="product-card__prices">
                                <div *ngIf="p.discount_price != null">
                                    <span class="product-card__new-price">{{ p.discount_price |
                                        currency: 'USD' }}</span>
                                    <span class="product-card__old-price"> {{ p.unit_price | currency:
                                        'USD' }}</span>
                                </div>
                                <div *ngIf="p.discount_price == null">
                                    {{ p.unit_price | currency: 'USD' }}
                                </div>
                            </div>
                            <div class="product-card__buttons">
                                <button class="btn btn-primary product-card__addtocart" (click)="addToCart(p.id)" [class.disabled]="p.stock < 1" type="button">
                                    Add To Cart
                                </button>

                                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-products / end -->
<!-- .block-categories -->
<div class="block block--highlighted block-categories block-categories--layout--classic">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Popular Categories</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-categories__list">
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="#"><img src="assets/images/categories/category-1.jpg" alt=""></a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Power Tools</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Screwdrivers</a></li>
                            <li><a href="#">Milling Cutters</a></li>
                            <li><a href="#">Sanding Machines</a></li>
                            <li><a href="#">Wrenches</a></li>
                            <li><a href="#">Drills</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">572 Products</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="#"><img src="assets/images/categories/category-2.jpg" alt=""></a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Hand Tools</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Screwdrivers</a></li>
                            <li><a href="#">Hammers</a></li>
                            <li><a href="#">Spanners</a></li>
                            <li><a href="#">Handsaws</a></li>
                            <li><a href="#">Paint Tools</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">134 Products</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="#"><img src="assets/images/categories/category-4.jpg" alt=""></a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Machine Tools</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Lathes</a></li>
                            <li><a href="#">Milling Machines</a></li>
                            <li><a href="#">Grinding Machines</a></li>
                            <li><a href="#">CNC Machines</a></li>
                            <li><a href="#">Sharpening Machines</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">301 Products</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="#"><img src="assets/images/categories/category-3.jpg" alt=""></a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Power Machinery</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Generators</a></li>
                            <li><a href="#">Compressors</a></li>
                            <li><a href="#">Winches</a></li>
                            <li><a href="#">Plasma Cutting</a></li>
                            <li><a href="#">Electric Motors</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">79 Products</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="#"><img src="assets/images/categories/category-5.jpg" alt=""></a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Measurement</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Tape Measure</a></li>
                            <li><a href="#">Theodolites</a></li>
                            <li><a href="#">Thermal Imagers</a></li>
                            <li><a href="#">Calipers</a></li>
                            <li><a href="#">Levels</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">366 Products</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="#"><img src="assets/images/categories/category-6.jpg" alt=""></a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Clothes and PPE</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Winter Workwear</a></li>
                            <li><a href="#">Summer Workwear</a></li>
                            <li><a href="#">Helmets</a></li>
                            <li><a href="#">Belts and Bags</a></li>
                            <li><a href="#">Work Shoes</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">81 Products</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-categories / end -->
<!-- .block-products-carousel -->
<div class="block block-products-carousel" data-layout="grid-4">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">New Arrivals</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-products__list">
            <div class="product-card mx-1 my-3" *ngFor="let p of newProducts.slice(0, 5)">
                <button class="product-card__quickview" type="button">
                    <svg width="16px" height="16px">
                        <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                    </svg>
                    <span class="fake-svg-icon"></span>
                </button>

                <div class="product-card__image">
                    <a (click)="selectItem(p.id)" style="cursor: pointer;">
                        <img [src]="staticDomain + p.image_url | safe" alt="{{p.name | titlecase}}">
                    </a>
                </div>
                <div class="product-card__info">
                    <div class="product-card__name">
                        <a href="product.html">{{p.name | titlecase}}</a>
                    </div>
                    <div class="product-card__rating">
                        <div class="rating">
                            <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill">
                                        <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                    </g>
                                    <g class="rating__stroke">
                                        <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                        </use>
                                    </g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                    <div class="rating__stroke">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill">
                                        <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                    </g>
                                    <g class="rating__stroke">
                                        <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                        </use>
                                    </g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                    <div class="rating__stroke">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill">
                                        <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                    </g>
                                    <g class="rating__stroke">
                                        <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                        </use>
                                    </g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                    <div class="rating__stroke">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill">
                                        <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                    </g>
                                    <g class="rating__stroke">
                                        <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                        </use>
                                    </g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                    <div class="rating__stroke">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill">
                                        <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                    </g>
                                    <g class="rating__stroke">
                                        <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                        </use>
                                    </g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                    <div class="rating__stroke">
                                        <div class="fake-svg-icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card__rating-legend">11 Reviews</div>
                    </div>

                </div>
                <div class="product-card__actions">
                    <div class="product-card__availability my-2">
                        Availability:
                        <span class="text-danger" *ngIf="p.stock < 1; else elseBlock">out of stock</span>
                        <ng-template #elseBlock>
                            <span class="text-success">in stock</span>
                        </ng-template>
                    </div>
                    <div class="product-card__prices">
                        <div *ngIf="p.discount_price != null">
                            <span class="product-card__new-price">{{ p.discount_price |
                                currency: 'USD' }}</span>
                            <span class="product-card__old-price"> {{ p.unit_price | currency:
                                'USD' }}</span>
                        </div>
                        <div *ngIf="p.discount_price == null">
                            {{ p.unit_price | currency: 'USD' }}
                        </div>
                    </div>
                    <div class="product-card__buttons">
                        <button class="btn btn-primary product-card__addtocart" (click)="addToCart(p.id)" [class.disabled]="p.stock < 1" type="button">Add To
                            Cart</button>
                        <!-- <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" [class.disabled]="p.stock < 1" type="button">
                            Add To Cart
                        </button> -->
                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button"><svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                            </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button"><svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                            </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .block-brands -->
<div class="block block-brands">
    <div class="container">
        <div class="block-brands__slider">
            <div class="owl-carousel">
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-1.png" alt=""></a>
                </div>
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-2.png" alt=""></a>
                </div>
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-3.png" alt=""></a>
                </div>
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-4.png" alt=""></a>
                </div>
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-5.png" alt=""></a>
                </div>
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-6.png" alt=""></a>
                </div>
                <div class="block-brands__item">
                    <a href="#"><img src="assets/images/logos/logo-7.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-brands / end -->
<!-- .block-product-columns -->
<div class="block block-product-columns d-lg-block d-none">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="block-header">
                    <h3 class="block-header__title">Top Rated Products</h3>
                    <div class="block-header__divider"></div>
                </div>
                <div class="block-product-columns__column">
                    <div class="block-product-columns__item" *ngFor="let p of bestSellerProducts.slice(0, 3)">
                        <div class="product-card product-card--layout--horizontal">
                            <button class="product-card__quickview" type="button"><svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                                </svg> 
                                <span class="fake-svg-icon"></span>
                            </button>
                            <div class="product-card__badges-list">
                                <div class="product-card__badge product-card__badge--new">New</div>
                            </div>
                            <div class="product-card__image">
                                <a (click)="selectItem(p.id)">
                                    <img [src]="staticDomain + p.image_url" alt="{{ p.name }}">
                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a href="product.html">{{ p.name | titlecase}}</a>
                                </div>
                                <div class="product-card__rating">
                                    <div class="rating">
                                        <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card__rating-legend">9 Reviews</div>
                                </div>
                                <ul class="product-card__features-list">
                                    <li>Speed: 750 RPM</li>
                                    <li>Power Source: Cordless-Electric</li>
                                    <li>Battery Cell Type: Lithium</li>
                                    <li>Voltage: 20 Volts</li>
                                    <li>Battery Capacity: 2 Ah</li>
                                </ul>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__availability">
                                    Availability:
                                    <span class="text-danger" *ngIf="selectedSoldProduct.stock < 1; else elseBlock">out of
                                        stock</span>
                                    <ng-template #elseBlock>
                                        <span class="text-success">in stock</span>
                                    </ng-template>
                                </div>
                                <div class="product-card__prices">
                                    <div *ngIf="p.discount_price != null">
                                        <span class="product-card__new-price">{{ p.discount_price |
                                            currency: 'USD' }}</span>
                                        <span class="product-card__old-price"> {{ p.unit_price | currency:
                                            'USD' }}</span>
                                    </div>
                                    <div *ngIf="p.discount_price == null">
                                        {{ p.unit_price | currency: 'USD' }}
                                    </div>
                                </div>
                                <div class="product-card__buttons"><button class="btn btn-primary product-card__addtocart" type="button">Add To
                                        Cart</button> <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button> <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                        type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="block-header">
                    <h3 class="block-header__title">Special Offers</h3>
                    <div class="block-header__divider"></div>
                </div>
                <div class="block-product-columns__column">
                    <div class="block-product-columns__item" *ngFor="let p of discountPriceProducts.slice(0, 3)">
                        <div class="product-card product-card--layout--horizontal">
                            <button class="product-card__quickview" type="button"><svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                                </svg> 
                                <span class="fake-svg-icon"></span>
                            </button>
                            <div class="product-card__badges-list">
                                <div class="product-card__badge product-card__badge--new">New</div>
                            </div>
                            <div class="product-card__image">
                                <a (click)="selectItem(p.id)">
                                    <img [src]="staticDomain + p.image_url" alt="{{ p.name }}">
                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a href="product.html">{{ p.name | titlecase}}</a>
                                </div>
                                <div class="product-card__rating">
                                    <div class="rating">
                                        <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card__rating-legend">9 Reviews</div>
                                </div>
                                <ul class="product-card__features-list">
                                    <li>Speed: 750 RPM</li>
                                    <li>Power Source: Cordless-Electric</li>
                                    <li>Battery Cell Type: Lithium</li>
                                    <li>Voltage: 20 Volts</li>
                                    <li>Battery Capacity: 2 Ah</li>
                                </ul>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__availability">
                                    Availability:
                                    <span class="text-danger" *ngIf="p.stock < 1; else elseBlock">out of
                                        stock</span>
                                    <ng-template #elseBlock>
                                        <span class="text-success">in stock</span>
                                    </ng-template>
                                </div>
                                <div class="product-card__prices">
                                    <div *ngIf="p.discount_price != null">
                                        <span class="product-card__new-price">{{ p.discount_price |
                                            currency: 'USD' }}</span>
                                        <span class="product-card__old-price"> {{ p.unit_price | currency:
                                            'USD' }}</span>
                                    </div>
                                    <div *ngIf="p.discount_price == null">
                                        {{ p.unit_price | currency: 'USD' }}
                                    </div>
                                </div>
                                <div class="product-card__buttons"><button class="btn btn-primary product-card__addtocart" type="button">Add To
                                        Cart</button> <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button> <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                        type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="block-header">
                    <h3 class="block-header__title">Bestsellers</h3>
                    <div class="block-header__divider"></div>
                </div>
                <div class="block-product-columns__column">
                    <div class="block-product-columns__item" *ngFor="let p of bestSellerProductsMin">
                        <div class="product-card product-card--layout--horizontal">
                            <button class="product-card__quickview" type="button"><svg width="16px" height="16px">
                                <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                                </svg> 
                                <span class="fake-svg-icon"></span>
                            </button>
                            <div class="product-card__badges-list">
                                <div class="product-card__badge product-card__badge--new">New</div>
                            </div>
                            <div class="product-card__image">
                                <a (click)="selectItem(p.id)">
                                    <img [src]="staticDomain + p.image_url" alt="{{ p.name }}">
                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a href="product.html">{{ p.name | titlecase}}</a>
                                </div>
                                <div class="product-card__rating">
                                    <div class="rating">
                                        <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card__rating-legend">9 Reviews</div>
                                </div>
                                <ul class="product-card__features-list">
                                    <li>Speed: 750 RPM</li>
                                    <li>Power Source: Cordless-Electric</li>
                                    <li>Battery Cell Type: Lithium</li>
                                    <li>Voltage: 20 Volts</li>
                                    <li>Battery Capacity: 2 Ah</li>
                                </ul>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__availability">
                                    Availability:
                                    <span class="text-danger" *ngIf="p.stock < 1; else elseBlock">out of
                                        stock</span>
                                    <ng-template #elseBlock>
                                        <span class="text-success">in stock</span>
                                    </ng-template>
                                </div>
                                <div class="product-card__prices">
                                    <div *ngIf="p.discount_price != null">
                                        <span class="product-card__new-price">{{ p.discount_price |
                                            currency: 'USD' }}</span>
                                        <span class="product-card__old-price"> {{ p.unit_price | currency:
                                            'USD' }}</span>
                                    </div>
                                    <div *ngIf="p.discount_price == null">
                                        {{ p.unit_price | currency: 'USD' }}
                                    </div>
                                </div>
                                <div class="product-card__buttons"><button class="btn btn-primary product-card__addtocart" type="button">Add To
                                        Cart</button> <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button> <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                        type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-product-columns / end -->
<!-- site__body / end -->
<!-- site__body / end -->