<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ prod.name! }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="product product--layout--standard" data-layout="standard">
            <div class="product__content">
                <!-- .product__gallery -->
                <div class="product__gallery">
                    <div class="product-gallery">
                        <div class="product-gallery__featured"><button class="product-gallery__zoom"><svg width="24px"
                                    height="24px">
                                    <use xlink:href="images/sprite.svg#zoom-in-24"></use>
                                </svg></button>
                            <div class="owl-carousel" id="product-image">
                                <a href="#" target="_blank">
                                    <img [src]="staticDomain + prod.image_url" alt="{{prod.name}}">
                                </a>
                                <!-- <a href="images/products/product-16-1.jpg" target="_blank"><img src="images/products/product-16-1.jpg" alt=""> </a>
                                <a href="images/products/product-16-2.jpg" target="_blank"><img src="images/products/product-16-2.jpg" alt=""> </a>
                                <a href="images/products/product-16-3.jpg" target="_blank"><img src="images/products/product-16-3.jpg" alt=""> </a>
                                <a href="images/products/product-16-4.jpg" target="_blank"><img src="images/products/product-16-4.jpg" alt=""></a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .product__gallery / end -->
                <!-- .product__info -->
                <div class="product__info">
                    <h1 class="product__name">{{ prod.name | titlecase }}</h1>
                    <div class="product__rating">
                        <div class="product__rating-stars">
                            <div class="rating">
                                <div class="rating__body">
                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                        <g class="rating__fill">
                                            <use xlink:href="images/sprite.svg#star-normal"></use>
                                        </g>
                                        <g class="rating__stroke">
                                            <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                        </g>
                                    </svg>
                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                        <div class="rating__fill">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                        <div class="rating__stroke">
                                            <div class="fake-svg-icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__rating-legend">
                            <a href="#">{{ prod.sold }} items had been sold</a>
                        </div>
                    </div>
                    <div class="product__description">
                        {{ prod.description }}
                    </div>
                    <ul class="product__features">
                        <li>Speed: 750 RPM</li>
                        <li>Power Source: Cordless-Electric</li>
                        <li>Battery Cell Type: Lithium</li>
                        <li>Voltage: 20 Volts</li>
                        <li>Battery Capacity: 2 Ah</li>
                    </ul>
                    <ul class="product__meta">
                        <li class="product__meta-availability">
                            Availability:
                            <span class="text-danger " *ngIf="prod.stock < 1 ">
                                out of stock
                            </span>
                            <span class="text-success " *ngIf="prod.stock> 1"> in stock</span>
                        </li>
                    </ul>
                </div>
                <!-- .product__info / end -->
                <!-- .product__sidebar -->
                <div class="product__sidebar">
                    <div class="product__availability">
                        Availability:
                        <span class="text-danger " *ngIf="prod.stock < 1 ">
                            out of stock
                        </span>
                        <span class="text-success " *ngIf="prod.stock> 1"> in stock</span>
                    </div>
                </div>
                <div class="product-card__prices" *ngIf="prod.discount_price != null">
                    <span class="product-card__new-price" id="new-price">
                        {{ prod.discount_price | currency: 'USD' }}
                    </span>
                    <span class="product-card__old-price" id="old-price"> 
                        {{ prod.unit_price | currency: 'USD' }}
                    </span>
                </div>
                <div class="product-card__prices" *ngIf="prod.discount_price == null">
                    {{ prod.unit_price | currency: 'USD' }}
                </div>
                <!-- .product__options -->
                <form class="product__options">
                    <div class="form-group product__option"><label class="product__option-label">Color</label>
                        <div class="input-radio-color">
                            <div class="input-radio-color__list"><label class="input-radio-color__item input-radio-color__item--white" style="color: #fff;" data-toggle="tooltip" title="White"><input type="radio"
                                            name="color"> <span></span></label> <label class="input-radio-color__item" style="color: #ffd333;" data-toggle="tooltip" title="Yellow"><input type="radio"
                                            name="color"> <span></span></label> <label class="input-radio-color__item" style="color: #ff4040;" data-toggle="tooltip" title="Red"><input type="radio"
                                            name="color">
                                        <span></span></label> <label class="input-radio-color__item input-radio-color__item--disabled" style="color: #4080ff;" data-toggle="tooltip" title="Blue"><input type="radio"
                                            name="color" disabled="disabled">
                                        <span></span></label></div>
                        </div>
                    </div>
                    <div class="form-group product__option"><label class="product__option-label">Material</label>
                        <div class="input-radio-label">
                            <div class="input-radio-label__list"><label><input type="radio" name="material">
                                        <span>Metal</span></label> <label><input type="radio" name="material">
                                        <span>Wood</span></label>
                                <label><input type="radio" name="material" disabled="disabled">
                                        <span>Plastic</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group product__option">
                        <div class="product__actions">
                            <div class="product__actions-item product__actions-item--addtocart">
                                <button (click)="addToCart(prod.id)" class="btn btn-primary btn-lg">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- .product__options / end -->
            </div>
            <!-- .product__end -->

            <!-- .block-products-carousel -->
            <div class="block block-products-carousel mt-5" data-layout="grid-5">
                <div class="container">
                    <div class="block-header">
                        <h3 class="block-header__title">Related Products</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-products__list">
                        <div class="product-card mx-1 my-3" *ngFor="let p of relatedProds.items!">
                            <button class="product-card__quickview" type="button">
                                <svg width="16px" height="16px">
                                    <use xlink:href="assets/images/sprite.svg#quickview-16"></use>
                                </svg>
                                <span class="fake-svg-icon"></span>
                            </button>

                            <div class="product-card__image">
                                <a (click)="selectItem(p.id)" style="cursor: pointer;">
                                    <img [src]="staticDomain + p.image_url | safe" alt="{{p.name | titlecase}}">
                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a href="product.html">{{p.name | titlecase}}</a>
                                </div>
                                <div class="product-card__rating">
                                    <div class="rating">
                                        <div class="rating__body"><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div><svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="assets/images/sprite.svg#star-normal-stroke">
                                                    </use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card__rating-legend">11 Reviews</div>
                                </div>

                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__availability my-2">
                                    Availability:
                                    <span class="text-danger" *ngIf="p.stock < 1; else elseBlock">out of stock</span>
                                    <ng-template #elseBlock>
                                        <span class="text-success">in stock</span>
                                    </ng-template>
                                </div>
                                <div class="product-card__prices">
                                    <div *ngIf="p.discount_price != null">
                                        <span class="product-card__new-price">{{ p.discount_price |
                                            currency: 'USD' }}</span>
                                        <span class="product-card__old-price"> {{ p.unit_price | currency:
                                            'USD' }}</span>
                                    </div>
                                    <div *ngIf="p.discount_price == null">
                                        {{ p.unit_price | currency: 'USD' }}
                                    </div>
                                </div>
                                <div class="product-card__buttons">
                                    <button class="btn btn-primary product-card__addtocart" (click)="addToCart(p.id)" [class.disabled]="p.stock < 1" type="button">Add To
                                        Cart</button>
                                    <!-- <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" [class.disabled]="p.stock < 1" type="button">
                                        Add To Cart
                                    </button> -->
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span></button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button"><svg width="16px" height="16px">
                                            <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .block-products-carousel / end -->