<div class="indicator indicator--trigger--click">
    <a href="#" class="indicator__button">
        <span class="indicator__area">
            <svg width="20px" height="20px">
                <use xlink:href="assets/images/sprite.svg#cart-20"></use>
            </svg> 
            <span class="indicator__value">{{ cartData.products != undefined ? cartData.products.length : 0 }}</span>
        </span>
    </a>
    <div class="indicator__dropdown">
        <div class="dropcart" *ngIf="cartData.products.length != 0">
            <div class="dropcart__products-list">
                <div class="dropcart__product" *ngFor='let c of cartData.products, let i=index'>
                    <div class="dropcart__product-image">
                        <a (click)="selectItem(c.item_id)">
                            <img [src]="staticDomain + c.image_url" alt="{{ c.name }}">
                        </a>
                    </div>
                    <div class="dropcart__product-info">
                        <div class="dropcart__product-name">
                            <a (click)="selectItem(c.item_id)">
                                {{ c.name }}
                            </a>
                        </div>

                        <div class="dropcart__product-meta">
                            <span class="dropcart__product-quantity">{{ c.quantity }}</span> × <span class="dropcart__product-price">{{ c.unit_price | currency: 'USD' }}</span></div>
                    </div>
                    <button type="button" (click)="cartService.deleteItemCart(i)" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                        <svg width="10px" height="10px">
                            <use xlink:href="assets/images/sprite.svg#cross-10"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="dropcart__totals">
                <table>
                    <tr>
                        <th>Subtotal</th>
                        <td>{{ cartData.total| currency: 'USD'}}</td>
                    </tr>

                    <tr>
                        <th>Total</th>
                        <td>{{ cartData.total| currency: 'USD'}}</td>
                    </tr>
                </table>
            </div>
            <div class="dropcart__buttons">
                <a class="btn btn-secondary" routerLink="/order-summary">View Cart</a>
                <a class="btn btn-primary" routerLink="/checkout">Checkout</a>
            </div>
        </div>
        <ng-container *ngIf="cartData.products.length == 0">
            <div class="dropcart">
                <div class="dropcart__products-list">
                    <div class="block-empty__message text-center">Your shopping cart is empty!</div>
                    <div class="block-empty__message text-center">
                        <a class="btn btn-primary text-center mt-3" routerLink="/shop">View Shop Items</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>