<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>Checkout</h1>
        </div>
    </div>
</div>
<div class="checkout block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <h3 class="card-title">Billing details</h3>
                        <form [formGroup]="addressForm">
                            <div class="form-group">
                                <label for="checkout-street-address">
                                    Street Address 
                                </label>
                                <input type="text" class="form-control" id="checkout-street-address" placeholder="Street Address" formControlName="street_address">
                                <control-messages [control]="$any(addressForm).get('street_address')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-apartment-address">
                                    Aparment Address 
                                </label>
                                <input type="text" class="form-control" id="checkout-apartment-address" placeholder="Apartment Address" formControlName="aparment_address">
                                <control-messages [control]="$any(addressForm).get('aparment_address')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-country">Country</label>
                                <select id="checkout-country" class="form-control" formControlName="province">
                                    <option [ngValue]="">Select a country...</option>
                                    <option *ngFor="let pType of provincesType | keyvalue" [ngValue]="pType.key">{{ pType.value }}</option>
                                </select>
                                <control-messages [control]="$any(addressForm).get('province')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-postcode">Postcode / ZIP</label>
                                <input type="text" class="form-control" id="checkout-postcode" formControlName="zip">
                                <control-messages [control]="$any(addressForm).get('zip')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-comment">Payment note <span class="text-muted">(Optional)</span></label>
                                <textarea id="checkout-comment" formControlName="payment_note" class="form-control" rows="4"></textarea>
                                <control-messages [control]="$any(addressForm).get('payment_note')"></control-messages>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-set-default-address" formControlName="set_default_address"> 
                                            <span class="input-check__box"></span>
                                    <svg class="input-check__icon" width="9px" height="7px">
                                                    <use xlink:href="assets/images/sprite.svg#check-9x7"></use>
                                                </svg>
                                    </span>
                                    </span>
                                    <label class="form-check-label" for="checkout-set-default-address">Set as default value for future orders</label>
                                    <control-messages [control]="$any(addressForm).get('set_default_address')"></control-messages>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-use-default-address" formControlName="use_default_address"> 
                                            <span class="input-check__box"></span>
                                    <svg class="input-check__icon" width="9px" height="7px">
                                                    <use xlink:href="assets/images/sprite.svg#check-9x7"></use>
                                                </svg>
                                    </span>
                                    </span>
                                    <label class="form-check-label" for="checkout-use-default-address">Use default address for this order</label>
                                    <control-messages [control]="$any(addressForm).get('use_default_address')"></control-messages>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                <div class="card mb-0">
                    <div class="card-body">
                        <h3 class="card-title">Your Order</h3>
                        <table class="checkout__totals">
                            <thead class="checkout__totals-header">
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody class="checkout__totals-products" *ngFor="let item of cartData.products; let i = index">
                                <tr>
                                    <td>{{ item.name }} × {{ item.quantity }}</td>
                                    <td>{{ cartService.calculateSubtotal(i) | currency: 'USD' }}</td>
                                </tr>
                            </tbody>
                            <tbody class="checkout__totals-subtotals">
                                <tr>
                                    <th>Subtotal</th>
                                    <td>{{ cartTotal | currency: 'USD'}}</td>
                                </tr>
                                <tr>
                                    <th>Store Credit</th>
                                    <td>$0.00</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td>$0.00</td>
                                </tr>
                            </tbody>
                            <tfoot class="checkout__totals-footer">
                                <tr>
                                    <th>Total</th>
                                    <td>{{ cartTotal | currency: 'USD'}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="payment-methods">
                            <form [formGroup]="paymentForm" (submit)="createOrder()">
                                <ul class="payment-methods__list">
                                    <li class="payment-methods__item payment-methods__item--active">
                                        <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input 
                                                        class="input-radio__input"
                                                        type="radio"
                                                        value="{{ paymentType.Tranferience }}"
                                                        checked="checked"
                                                        formControlName="payment"> 
                                                        <span class="input-radio__circle"></span> 
                                                    </span>
                                                </span>
                                            <span class="payment-methods__item-title">Direct bank transfer</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">
                                                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</div>
                                        </div>
                                    </li>
                                    <li class="payment-methods__item">
                                        <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input 
                                                        class="input-radio__input" 
                                                        type="radio"
                                                        value="{{ paymentType.Cash }}"
                                                        formControlName="payment"> 
                                                        <span class="input-radio__circle"></span> 
                                                    </span>
                                                </span>
                                            <span class="payment-methods__item-title">Cash on delivery</span>
                                        </label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">Pay with cash upon delivery.</div>
                                        </div>
                                    </li>
                                    <li class="payment-methods__item">
                                        <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input 
                                                        class="input-radio__input" 
                                                        type="radio"
                                                        value="{{ paymentType.Paypal }}"
                                                        formControlName="payment">
                                                    <span class="input-radio__circle"></span> 
                                                </span>
                                            </span>
                                            <span class="payment-methods__item-title">PayPal</span></label>
                                        <div class="payment-methods__item-container">
                                            <div class="payment-methods__item-description text-muted">Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</div>
                                        </div>
                                    </li>
                                </ul>
                                <button type="submit" [disabled]="isNotValid" class="btn btn-primary btn-xl btn-block mt-3">
                                    Place Order
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>