<!-- site__footer -->
<footer class="site__footer">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Contact Us</h5>
                            <div class="footer-contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. Pellentque ac placerat tellus.</div>
                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon fas fa-globe-americas"></i> 715 Fake Street, New York 10021 USA</li>
                                <li><i class="footer-contacts__icon far fa-envelope"></i> stroyka@example.com
                                </li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> (800) 060-0730, (800) 060-0730</li>
                                <li><i class="footer-contacts__icon far fa-clock"></i> Mon-Sat 10:00pm - 7:00pm
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Information</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="#" class="footer-links__link">About
                                        Us</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Delivery
                                        Information</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Privacy
                                        Policy</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Brands</a>
                                </li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Contact
                                        Us</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Returns</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Site
                                        Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">My Account</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Store
                                        Location</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Order
                                        History</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Wish
                                        List</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Newsletter</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Specials</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Gift
                                        Certificates</a></li>
                                <li class="footer-links__item"><a href="#" class="footer-links__link">Affiliate</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">Newsletter</h5>
                            <div class="footer-newsletter__text">Praesent pellentesque volutpat ex, vitae auctor lorem pulvinar mollis felis at lacinia.</div>
                            <form action="#" class="footer-newsletter__form"><label class="sr-only" for="footer-newsletter-address">Email Address</label> <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email Address..."> <button class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
                            </form>
                            <div class="footer-newsletter__text footer-newsletter__text--social">Follow us on social networks</div>
                            <ul class="footer-newsletter__social-links">
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-youtube"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--rss">
                                    <a href="https://themeforest.net/user/kos9" target="_blank"><i
                                            class="fas fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">Powered by HTML — Design by <a href="https://themeforest.net/user/kos9" target="_blank">Kos</a></div>
                <div class="site-footer__payments"><img src="assets/images/payments.png" alt=""></div>
            </div>
        </div>
        <div class="totop">
            <div class="totop__body">
                <div class="totop__start"></div>
                <div class="totop__container container"></div>
                <div class="totop__end"><button type="button" class="totop__button"><svg width="13px"
                            height="8px">
                            <use xlink:href="assets/images/sprite.svg#arrow-rounded-up-13x8"></use>
                        </svg></button></div>
            </div>
        </div>
    </div>
</footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-6"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-97489509-6');
</script>

<!-- site__footer / end -->
<script>
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-97489509-6');
</script>

<!-- site__footer / end -->