<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">Thank You!</div>
            <div class="not-found__content">
                <h1 class="not-found__title">Order ID #{{ orderId }}</h1>
                <p class="not-found__text">Check your email to confirm the payment</p>
            </div>
        </div>
        <div class="cart block" *ngIf="orderData.products.length != 0">
            <div class="container">
                <table class="cart__table cart-table">
                    <thead class="cart-table__head">
                        <tr class="cart-table__row">
                            <th class="cart-table__column cart-table__column--image">Image</th>
                            <th class="cart-table__column cart-table__column--product">Product</th>
                            <th class="cart-table__column cart-table__column--price">Price</th>
                            <th class="cart-table__column cart-table__column--quantity">Quantity</th>
                        </tr>
                    </thead>
                    <tbody class="cart-table__body">
                        <tr class="cart-table__row" *ngFor="let c of orderData.products; let i = index">
                            <td class="cart-table__column cart-table__column--image">
                                <a href="#"><img [src]="staticDomain + c.image_url" alt="{{ c.name }}"></a>
                            </td>
                            <td class="cart-table__column cart-table__column--product"><a href="#" class="cart-table__product-name">{{ c.name }}</a>
                                <!-- <ul class="cart-table__options">
                                    <li>Color: Yellow</li>
                                    <li>Material: Aluminium</li>
                                </ul> -->
                            </td>
                            <td class="cart-table__column cart-table__column--price" data-title="Price">
                                {{ c.unit_price | currency: 'USD'}}
                            </td>
                            <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                                <div class="input-number">
                                    <input class="form-control input-number__input" readonly type="number" [value]="c.quantity">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button routerLink="/" class="btn btn-primary">Go back to the shop</button>
            </div>
        </div>
    </div>
</div>