<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>My Account</h1>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex">
                <div class="account-nav flex-grow-1">
                    <h4 class="account-nav__title">Navigation</h4>
                    <ul>
                        <li class="account-nav__item"><a routerLink="/account/dashboard">Dashboard</a></li>
                        <li class="account-nav__item"><a routerLink="/account/orders">Order History</a></li>
                        <li class="account-nav__item account-nav__item--active"><a routerLink="/account/addresses">Addresses</a></li>
                        <li class="account-nav__item"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Address3</h5>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-body">
                        <form [formGroup]="addressForm" (submit)="updateAddress()">
                            <div class="form-group">
                                <label for="checkout-street-address">
                                    Street Address 
                                </label>
                                <input type="text" class="form-control" id="checkout-street-address" placeholder="Street Address" formControlName="street_address">
                                <control-messages [control]="$any(addressForm).get('street_address')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-apartment-address">
                                    Aparment Address 
                                </label>
                                <input type="text" class="form-control" id="checkout-apartment-address" placeholder="Apartment Address" formControlName="apartment_address">
                                <control-messages [control]="$any(addressForm).get('apartment_address')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-country">Country</label>
                                <select id="checkout-country" class="form-control" formControlName="province">
                                    <option [ngValue]="">Select a country...</option>
                                    <option *ngFor="let pType of provincesType | keyvalue" [ngValue]="pType.key">{{ pType.value }}</option>
                                </select>
                                <control-messages [control]="$any(addressForm).get('province')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-postcode">Postcode / ZIP</label>
                                <input type="text" class="form-control" id="checkout-postcode" formControlName="zip">
                                <control-messages [control]="$any(addressForm).get('zip')"></control-messages>
                            </div>
                            <div class="form-group">
                                <label for="checkout-comment">Payment note <span class="text-muted">(Optional)</span></label>
                                <textarea id="checkout-comment" formControlName="payment_note" class="form-control" rows="4"></textarea>
                                <control-messages [control]="$any(addressForm).get('payment_note')"></control-messages>
                            </div>
                            <button type="submit" [disabled]="isNotValid" class="btn btn-primary mt-3">
                                Update Address
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>