<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>My Account</h1>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex">
                <div class="account-nav flex-grow-1">
                    <h4 class="account-nav__title">Navigation</h4>
                    <ul>
                        <li class="account-nav__item"><a routerLink="/account/dashboard">Dashboard</a></li>
                        <li class="account-nav__item"><a routerLink="/account/orders">Order History</a></li>
                        <li class="account-nav__item account-nav__item--active"><a routerLink="/account/addresses">Addresses</a></li>
                        <li class="account-nav__item"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="addresses-list" *ngIf="defaultAddress != undefined">
                    <a routerLink="new" class="addresses-list__item addresses-list__item--new">
                        <div class="addresses-list__plus"></div>
                        <div class="btn btn-secondary btn-sm">Add New</div>
                    </a>
                    <div class="addresses-list__divider"></div>
                    <div class="addresses-list__item card address-card">
                        <div class="address-card__badge">Default</div>
                        <div class="address-card__body">
                            <div class="address-card__name">{{ selfUser.name + " " + selfUser.lastname| titlecase }}</div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Street Address</div>
                                <div class="address-card__row-content">{{ defaultAddress.street_address }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Aparment Address</div>
                                <div class="address-card__row-content">{{ defaultAddress.apartment_address}}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">ZIP</div>
                                <div class="address-card__row-content">{{ defaultAddress.zip }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email Address</div>
                                <div class="address-card__row-content">{{ selfUser.email }}</div>
                            </div>
                            <div class="address-card__footer">
                                <button class="btn btn-primary btn-xs" (click)="updateAddress(defaultAddress.id, 0)">Update</button> &nbsp;&nbsp;
                                <button class="btn btn-primary btn-xs" (click)="delAddress(defaultAddress.id, defaultAddressIndex)">Remove</button>
                                <button class="btn btn-primary btn-xs mt-2" (click)="updateDefault(false, defaultAddress.id)">Remove default</button>
                            </div>
                        </div>
                    </div>
                    <div class="addresses-list__divider"></div>
                    <div class="addresses-list__item card address-card" *ngIf="selfAddresses[0] != undefined">
                        <div class="address-card__body">
                            <div class="address-card__name">{{ selfUser.name + ' ' + selfUser.lastname | titlecase }}</div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Street Address</div>
                                <div class="address-card__row-content">{{ selfAddresses[0].street_address }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Aparment Address</div>
                                <div class="address-card__row-content">{{ selfAddresses[0].apartment_address}}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">ZIP</div>
                                <div class="address-card__row-content">{{ selfAddresses[0].zip }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email Address</div>
                                <div class="address-card__row-content">{{ selfUser.email }}</div>
                            </div>
                            <div class="address-card__footer">
                                <button class="btn btn-primary btn-xs" (click)="updateAddress(selfAddresses[0].id, 0)">Update</button> &nbsp;&nbsp;
                                <button class="btn btn-primary btn-xs" (click)="delAddress(selfAddresses[0].id, 0)">Remove</button>
                                <button class="btn btn-primary btn-xs mt-2" (click)="updateDefault(true, selfAddresses[0].id)">Add as default</button>
                            </div>
                        </div>
                    </div>
                    <div class="addresses-list__divider"></div>
                </div>
                <div class="addresses-list" *ngIf="defaultAddress == undefined && selfAddresses[0] != undefined">
                    <a href="#" class="addresses-list__item addresses-list__item--new">
                        <div class="addresses-list__plus"></div>
                        <div class="btn btn-secondary btn-sm">Add New</div>
                    </a>
                    <div class="addresses-list__divider"></div>
                    <div class="addresses-list__item card address-card mr-3" *ngFor="let address of selfAddresses | slice: 0:2, let i = index">
                        <div class="address-card__body">
                            <div class="address-card__name">{{ selfUser.name + ' ' + selfUser.lastname | titlecase }}</div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Street Address</div>
                                <div class="address-card__row-content">{{ address.street_address }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Aparment Address</div>
                                <div class="address-card__row-content">{{ address.apartment_address }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">ZIP</div>
                                <div class="address-card__row-content">{{ address.zip }}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email Address</div>
                                <div class="address-card__row-content">{{ selfUser.email }}</div>
                            </div>
                            <div class="address-card__footer">
                                <button class="btn btn-primary btn-xs" (click)="updateAddress(address.id, i)">Update</button> &nbsp;&nbsp;
                                <button class="btn btn-primary btn-xs" (click)="delAddress(address.id, i)">Remove</button>
                                <button class="btn btn-primary btn-xs mt-2" (click)="updateDefault(true, address.id)">Add as default</button>
                            </div>
                        </div>
                    </div>
                    <div class="addresses-list__divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>