<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>Shopping Cart</h1>
        </div>
    </div>
</div>
<div class="cart block" *ngIf="cartData.products.length != 0">
    <div class="container">
        <table class="cart__table cart-table">
            <thead class="cart-table__head">
                <tr class="cart-table__row">
                    <th class="cart-table__column cart-table__column--image">Image</th>
                    <th class="cart-table__column cart-table__column--product">Product</th>
                    <th class="cart-table__column cart-table__column--price">Price</th>
                    <th class="cart-table__column cart-table__column--quantity">Quantity</th>
                    <th class="cart-table__column cart-table__column--total">Total</th>
                    <th class="cart-table__column cart-table__column--remove"></th>
                </tr>
            </thead>
            <tbody class="cart-table__body">
                <tr class="cart-table__row" *ngFor="let c of cartData.products; let i = index">
                    <td class="cart-table__column cart-table__column--image">
                        <a href="#"><img [src]="staticDomain + c.image_url" alt="{{ c.name }}"></a>
                    </td>
                    <td class="cart-table__column cart-table__column--product"><a href="#" class="cart-table__product-name">{{ c.name }}</a>
                        <!-- <ul class="cart-table__options">
                            <li>Color: Yellow</li>
                            <li>Material: Aluminium</li>
                        </ul> -->
                    </td>
                    <td class="cart-table__column cart-table__column--price" data-title="Price">
                        {{ c.unit_price | currency: 'USD'}}
                    </td>
                    <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                        <div class="input-number">
                            <input class="form-control input-number__input" readonly type="number" [value]="c.quantity">
                            <div class="input-number__add" (click)="changeQuantity(i, true)"></div>
                            <div class="input-number__sub" (click)="changeQuantity(i, false)"></div>
                        </div>
                    </td>
                    <td class="cart-table__column cart-table__column--total" data-title="Total">
                        {{ cartService.calculateSubtotal(i) | currency: 'USD'}}
                    </td>
                    <td class="cart-table__column cart-table__column--remove">
                        <button type="button" (click)="deleteItemCart(i)" class="btn btn-light btn-sm btn-svg-icon">
                            <svg width="12px" height="12px">
                                <use xlink:href="assets/images/sprite.svg#cross-12"></use>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart__actions">
            <form class="cart__coupon-form"><label for="input-coupon-code" class="sr-only">Password</label>
                <input type="text" class="form-control" id="input-coupon-code" placeholder="Coupon Code">
                <button type="submit" class="btn btn-primary">Apply Coupon</button></form>
            <div class="cart__buttons">
                <!-- <a  class="btn btn-light">Continue Shopping</a>  -->
                <a routerLink="/" class="btn btn-primary cart__update-button">Update Cart</a></div>
        </div>
        <div class="row justify-content-end pt-5">
            <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Cart Totals</h3>
                        <table class="cart__totals">
                            <thead class="cart__totals-header">
                                <tr>
                                    <th>Subtotal</th>
                                    <td>{{ cartTotal | currency: 'USD'}}</td>
                                </tr>
                            </thead>
                            <tbody class="cart__totals-body">
                                <tr>
                                    <th>Shipping</th>
                                    <td>$0.00</td>
                                </tr>
                                <tr>
                                    <th>Tax</th>
                                    <td>$0.00</td>
                                </tr>
                            </tbody>
                            <tfoot class="cart__totals-footer">
                                <tr>
                                    <th>Total</th>
                                    <td>{{ cartTotal | currency: 'USD'}}</td>
                                </tr>
                            </tfoot>
                        </table><a class="btn btn-primary btn-xl btn-block cart__checkout-button" routerLink="/checkout">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="cartData.products.length == 0">
    <div class="block-empty__body">
        <div class="block-empty__message">Your shopping cart is empty!</div>
        <div class="block-empty__actions"><a class="btn btn-primary btn-sm" routerLink="/">Continue</a></div>
    </div>
</ng-container>